* {
  box-sizing: border-box;
}

body {
  background-color: darkslategray;
  color: white;
  padding-bottom: 2rem;
  margin: 0;
}

header {
  text-align: center;
  font-size: x-large;
}
header h1 {
  margin: 0;
  padding: 1rem;
}

input,
textarea,
button {
  margin: 1vw 0;
  padding: 0.6vw;
  border: 0.1rem solid black;
  border-radius: 0.4rem;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  width: 60%;
  height: 10rem;
}

button {
  cursor: pointer;
  transition: ease 250ms;
}
button:hover {
  transform: scale(1.15);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form button {
  width: 20%;
}
form input {
  text-align: center;
}

#write-post {
  background-color: #a18c78;
  border-radius: 4vw;
  width: 75%;
  margin: 0 auto;
  padding: 2rem 1vw;
}

.post {
  background-color: #a18c78;
  margin: 2rem auto 0 auto;
  padding: 1vw;
  width: 75%;
  border-radius: 2vw;
}
.post * {
  margin: 0;
}
.post p {
  padding: 0.4rem;
}
.post h4 {
  padding: 0.4rem;
  font-style: italic;
}
.post form > button[type=submit] {
  font-size: 0.8rem;
  width: 14%;
}

#write-post h2,
#previous-posts h2 {
  text-align: center;
}