@mixin outline($color) {
    outline: 0.2rem solid $color;
}

@mixin mouse-hover() {
    transition: ease 250ms;

    &:hover {
        transform: scale(1.15);
    }
}

$page-width: 75%;
$post-padding: 2rem;

$primary-color: #a18c78;
$background-color: darkslategray;

* {
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    color: white;

    padding-bottom: $post-padding;
    margin: 0;
}

header {
    text-align: center;
    font-size: x-large;

    h1 {
        margin: 0;
        padding: 1rem;
    }
}

input,
textarea,
button {
    margin: 1vw 0;
    padding: 0.5vw;

    border: 0.1rem solid black;
    border-radius: 0.4rem;

    font-size: 1rem;
}

button {
    width: 20%;
    @include mouse-hover();
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input[type='text'] {
        text-align: center;
    }

    textarea {
        resize: vertical;
        width: 60%;
        height: 10rem;
    }
}

#write-post {
    background-color: $primary-color;
    border-radius: 4vw;

    width: $page-width;
    margin: 0 auto;
    padding: 2rem 1vw;
}

.post {
    background-color: $primary-color;

    margin: $post-padding auto 0 auto;
    padding: 1vw;
    width: $page-width;

    border-radius: 1vw;

    * {
        margin: 0;
    }

    p {
        padding: 0.4rem;
    }

    h3 {
        padding: 0.4rem;

        font-style: italic;
    }
}

#write-post,
#previous-posts {
    h2 {
        text-align: center;
    }
}
